# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\BE_Java2411\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
